<a href="https://colab.research.google.com/github/mannmoshe/machine-learning/blob/main/FinalProject/ConstructionPlans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Final Project - Construction plans.<br>*By Moshe Mann*

In [2]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/mannmoshe/machine-learning/main/FinalProject/cellsData.csv')

In [3]:
data.shape

(13709, 27)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13709 entries, 0 to 13708
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   PL_NUMBER                13709 non-null  object
 1   PL_AREA                  13709 non-null  object
 2   LANDUSE                  13709 non-null  object
 3   MAIN_ABOVE               13709 non-null  float64
 4   SERVICE_ABOVE            13709 non-null  float64
 5   MAIN_UNDER               13709 non-null  float64
 6   SERVICE_UNDER            13709 non-null  float64
 7   CELL_SIZE_TOTAL          13709 non-null  float64
 8   CELL_SIZE_MIN            13709 non-null  float64
 9   CELL_SIZE_MAX            13709 non-null  float64
 10  COVERED_AREA             13709 non-null  float64
 11  HOUSING_UNITS            13709 non-null  float64
 12  BUILDING_HEIGHT          13709 non-null  float64
 13  FLOORS_NUM               13709 non-null  float64
 14  TOTAL_ABOVE              13709 non-null  float64
 15  PL_NAME                  13709 non-null  object
 16  PL_INSTITUTION           13709 non-null  object
 17  AUTHORITY                13709 non-null  object
 18  DISTRICT                 13709 non-null  object
 19  SECTOR_GROUP             13709 non-null  object
 20  AREA                     13553 non-null  object
 21  SECTOR                   13709 non-null  object
 22  POPULATION               13709 non-null  object
 23  MUNICIPAL_AREA_STATUS    13553 non-null  object
 24  CONFIRMATION_YEAR        13709 non-null  int64
 25  CONSTRUCTION_TYPE_GROUP  13704 non-null  object
 26  CELL_SIZE                13709 non-null  float64
dtypes: float64(13), int64(1), object(13)
memory usage: 2.8+ MB

In [4]:
data.head()

     PL_NUMBER          PL_AREA  ... CONSTRUCTION_TYPE_GROUP  CELL_SIZE
0  610-0197038  610-0197038-102  ...                    חדשה     2466.0
1  610-0197038  610-0197038-101  ...                    חדשה     2025.0
2  151-0392894  151-0392894-210  ...                 התחדשות     2820.0
3  151-0392894   151-0392894-22  ...                 התחדשות    15410.0
4  151-0392894   151-0392894-10  ...                 התחדשות     1600.0

[5 rows x 27 columns]